<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Proveedores</title>

    <!-- Fuente -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

    <!-- ✅ Bootstrap (lo que estiliza tus .btn, .row, .col, etc.) -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <!-- ✅ Tu CSS de la app (si lo tienes) -->
    <link rel="stylesheet" href="css/app.css" />

    <!-- ✅ MudBlazor -->
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.bundle.min.js"></script>
    <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>